* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: url("https://files.catbox.moe/a3x81b.jpg") center / cover no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
}

h1,
h3 {
    text-align: center;
    margin-top: 20px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr {
    width: 120px;
    height: auto;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 32px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    cursor: pointer;
}