body, h1, h2, p, article, header, footer, main {
    margin: 0;
    padding: 0;
}

body {
    backround-color: black;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #6495ED;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #00008B
}

header h1 {
    font-style: 2.5em;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoraton: none;
    margin: 0 10px;
    font-style: 1.2em;
}