body, h1, h2, p, article, header, footer, main {
    margin: 0;
    padding: 0;
}

body {
    backround-color: black;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #6495ED;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #00008B
}
