body,
h1,
h2,
p,
article,
header,
footer,
main {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.freepik.com%2Fphotos-gratuite%2Ffond-ecran-colore-flou-artistique_58702-8178.jpg&f=1&ipt=85c6ffb06b0802b23fa2bdaaa657291d38f756ab0fe66a7f8bc952bca6e0bdf2');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #6495ED;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #00008B
}

header h1 {
    font-style: 2.5em;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-style: 1.2em;
}

nav a:hover {
    color: #ccc
}

.logo img {
    width: 100px;
    height: 160px;
    object-fit: contain;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

article {
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #222;
    border-left: 5px solid #555;
    border-right: 5px solid #555;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1)
}

article h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #aaa;
    font-family: 'Georgia', serif;
}

article p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

article a {
    color: #bbb;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    color: white;
}

footer {
    background-color: #1a1a1a;
    padding: 15px;
    text-align: center;
    border-top: 3px solid #444;
    margin: top 30px;
}

body:before,
body:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    z-index: -1;
}

body::before {
    left: 0;
    background: linear-gradient(to bottom, #667eea, #764ba2);
}